ffmpeg-python
ipykernel
jupytext
librosa
matplotlib
pandas
panns_inference
polars
pydub
pyflac
scikit-learn
soundfile
speechbrain
tensorflow
tensorflow_hub
tensorflow_io
torchaudio
torchlibrosa
torchsummary
tqdm
